<!--
 * @Descripttion: 
 * @Author: ganbowen
 * @Date: 2020-07-16 17:24:31
 * @LastEditors: ganbowen
 * @LastEditTime: 2020-07-17 10:01:34
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1><%= title %> </h1>
    <p>Fill in the below</p>
    <% entries.forEach((entry) => { %>
    <div class="entry">
        <h3>title : <%= entry.title %> </h3>
        <p>body : <%= entry.body %> </p>
        <p>Post by <%= entry.username || 'yours' %> </p>
    </div>
    <% }) %>
</body>

</html>