<!--
 * @Descripttion: 
 * @Author: ganbowen
 * @Date: 2020-07-20 10:37:20
 * @LastEditors: ganbowen
 * @LastEditTime: 2020-07-20 14:43:17
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>system</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>system </h1>
    <% if(name) { %>
    <p><%= name %> 已登录 <a href="/users/logout">logout</a></p>
    <% } %>
</body>

</html>