<!--
 * @Descripttion: 
 * @Author: ganbowen
 * @Date: 2020-07-20 10:29:39
 * @LastEditors: ganbowen
 * @LastEditTime: 2020-07-20 11:11:24
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>login </h1>
    <% if(locals.messages) { %>
    <% messages.forEach(message => { %>
    <p><%= message.string %> </p>
    <% }) %>
    <% removeMessages() %>
    <% } %>
    <form action="/users/login" method="post">
        <p>
            姓名: <input type="text" name="user[name]" placeholder="name">
        </p>
        <p>
            密码: <input type="password" name="user[pass]" placeholder="password">
        </p>
        <p>
            <input type="submit" value="登录"">
        </p>
    </form>
</body>

</html>