<!--
 * @Descripttion: 
 * @Author: ganbowen
 * @Date: 2020-09-30 09:08:50
 * @LastEditors: ganbowen
 * @LastEditTime: 2020-10-13 09:21:50
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>版式文件下载</title>
    <link href="./css/common.css" rel="stylesheet">
    <script src="./js/jquery.js"></script>
    <script src="./js/pdf/base64.js"></script>
    <!--[if !IE]><!-->
    <script src="./js/pdf/pdf.js"></script>
    <!--<![endif]-->
    <script src="./js/pdf/pdfobject.min.js"></script>

</head>

<body>
    <div id="header"></div>
    <div class="box" id="box">
        <div id="pdf_box"></div>
        <div id='phone-pdf-view' style="display: none;"></div>
        <div class="button" onclick="download('3');">OFD版式文件下载</div> &nbsp;
        <div class="button" onclick="download('12');">PDF版式文件下载</div>
    </div>
    <div class="warning-box" style="display: none;"></div>
    <script src="./js/pdf/index.js"></script>
</body>

</html>